
:root {
  --color-blue:    #0D1942;
  --color-indigo:  #1D2B5E;
  --color-violet:  #813BED;
  --color-teal:    #00D5E3;
  --color-sky:     #5F93FA;

  --base-padding: 1rem;
  --toolbar-element-height: 49px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--color-blue);
}

html {
  font-size: 18px;
}

body * {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 34px;
}

h5 {
  font-size: 0.8rem;
  font-weight: 400;
}

.viewport {
  height: calc(100vh - var(--toolbar-element-height));
}